# k-neighbors Classifier

In [88]:
import numpy as np
import pandas as pd
import seaborn as sns

In [89]:
df=pd.read_csv('iris.csv')
df

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [90]:
df.variety.value_counts()

Setosa        50
Versicolor    50
Virginica     50
Name: variety, dtype: int64

In [91]:
df.dtypes

sepal.length    float64
sepal.width     float64
petal.length    float64
petal.width     float64
variety          object
dtype: object

In [92]:
df.variety=df.variety.astype('category')

In [93]:
df.variety=df.variety.cat.codes
df

     sepal.length  sepal.width  petal.length  petal.width  variety
0             5.1          3.5           1.4          0.2        0
1             4.9          3.0           1.4          0.2        0
2             4.7          3.2           1.3          0.2        0
3             4.6          3.1           1.5          0.2        0
4             5.0          3.6           1.4          0.2        0
..            ...          ...           ...          ...      ...
145           6.7          3.0           5.2          2.3        2
146           6.3          2.5           5.0          1.9        2
147           6.5          3.0           5.2          2.0        2
148           6.2          3.4           5.4          2.3        2
149           5.9          3.0           5.1          1.8        2

[150 rows x 5 columns]

In [94]:
np.random.seed(50)

In [95]:
# Splitting the data
def splitting(mydata, ratio):
    train_num = int(len(mydata) * ratio)
    train_index=np.random.choice(range(0,len(mydata)),replace=False,size=train_num)
    train=mydata.iloc[train_index]
    test=mydata[~mydata.index.isin(train_index)]
    return train,test

In [96]:
train,test=splitting(mydata=df, ratio=0.8)

In [97]:
train

     sepal.length  sepal.width  petal.length  petal.width  variety
88            5.6          3.0           4.1          1.3        1
72            6.3          2.5           4.9          1.5        1
20            5.4          3.4           1.7          0.2        0
16            5.4          3.9           1.3          0.4        0
147           6.5          3.0           5.2          2.0        2
..            ...          ...           ...          ...      ...
96            5.7          2.9           4.2          1.3        1
76            6.8          2.8           4.8          1.4        1
66            5.6          3.0           4.5          1.5        1
121           5.6          2.8           4.9          2.0        2
60            5.0          2.0           3.5          1.0        1

[120 rows x 5 columns]

In [98]:
test

     sepal.length  sepal.width  petal.length  petal.width  variety
2             4.7          3.2           1.3          0.2        0
6             4.6          3.4           1.4          0.3        0
19            5.1          3.8           1.5          0.3        0
22            4.6          3.6           1.0          0.2        0
26            5.0          3.4           1.6          0.4        0
30            4.8          3.1           1.6          0.2        0
31            5.4          3.4           1.5          0.4        0
33            5.5          4.2           1.4          0.2        0
35            5.0          3.2           1.2          0.2        0
43            5.0          3.5           1.6          0.6        0
49            5.0          3.3           1.4          0.2        0
64            5.6          2.9           3.6          1.3        1
70            5.9          3.2           4.8          1.8        1
71            6.1          2.8           4.0          1.3        1
79            5.7          2.6           3.5          1.0        1
85            6.0          3.4           4.5          1.6        1
91            6.1          3.0           4.6          1.4        1
92            5.8          2.6           4.0          1.2        1
95            5.7          3.0           4.2          1.2        1
105           7.6          3.0           6.6          2.1        2
106           4.9          2.5           4.5          1.7        2
109           7.2          3.6           6.1          2.5        2
111           6.4          2.7           5.3          1.9        2
115           6.4          3.2           5.3          2.3        2
132           6.4          2.8           5.6          2.2        2
133           6.3          2.8           5.1          1.5        2
134           6.1          2.6           5.6          1.4        2
139           6.9          3.1           5.4          2.1        2
141           6.9          3.1           5.1          2.3        2
145           6.7          3.0           5.2          2.3        2

In [99]:
test.variety.value_counts()

0    11
2    11
1     8
Name: variety, dtype: int64

In [100]:
# calculate the Euclidean distance between two vectors be aware that the last element is for the class
def euclidean_distance(row1, row2):
    return np.sqrt(np.sum((row1[:-1] - row2[:-1])**2))

In [101]:
A=test.iloc[12,:]
A

sepal.length    5.9
sepal.width     3.2
petal.length    4.8
petal.width     1.8
variety         1.0
Name: 70, dtype: float64

In [102]:
B=test.iloc[11,:]
B

sepal.length    5.6
sepal.width     2.9
petal.length    3.6
petal.width     1.3
variety         1.0
Name: 64, dtype: float64

In [103]:
euclidean_distance(A, B)

1.3674794331177342

In [104]:
# Locate the most similar neighbors
def get_neighbors(train, test_instance, num_neighbors):
    distances = []
    train_copy=train.copy()
    for j in range(len(train)):
        dist = euclidean_distance(test_instance, train.iloc[j,:])
        distances.append(dist)
    train_copy['distance']=distances
    return train_copy.nsmallest(num_neighbors, ['distance'])

In [105]:
neighbors=get_neighbors(train, A, num_neighbors=5)
neighbors

     sepal.length  sepal.width  petal.length  petal.width  variety  distance
138           6.0          3.0           4.8          1.8        2  0.223607
127           6.1          3.0           4.9          1.8        2  0.300000
149           5.9          3.0           5.1          1.8        2  0.360555
56            6.3          3.3           4.7          1.6        1  0.469042
126           6.2          2.8           4.8          1.8        2  0.500000

In [106]:
neighbors.variety.value_counts()

2    4
1    1
Name: variety, dtype: int64

In [107]:
neighbors.variety.value_counts().index[0]

2

In [108]:
# Sınıf Tahmininde bulunma
def predict_classes(train, test, num_neighbors):
    prediction=[]
    for j in range(len(test)):
        neighbors = get_neighbors(train, test.iloc[j,:], num_neighbors)
        predicted_class = neighbors.variety.value_counts().index[0]
        prediction.append(predicted_class)
    return prediction

In [109]:
prediction=predict_classes(train, test, num_neighbors=5)
prediction

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 1,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2]

In [110]:
list(zip(prediction,test.variety))

[(0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (0, 0),
 (1, 1),
 (2, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (2, 2),
 (1, 2),
 (2, 2),
 (2, 2),
 (2, 2),
 (2, 2),
 (2, 2),
 (2, 2),
 (2, 2),
 (2, 2),
 (2, 2)]

In [111]:
def compute_accuracy(prediction,test_y):
    return np.mean(prediction==test_y)

In [112]:
compute_accuracy(prediction,test.variety)

0.9333333333333333

In [113]:
prediction=predict_classes(train, test, num_neighbors=1)
compute_accuracy(prediction,test.variety)

0.9

In [114]:
prediction=predict_classes(train, test, num_neighbors=2)
compute_accuracy(prediction,test.variety)

0.9

In [115]:
prediction=predict_classes(train, test, num_neighbors=10)
compute_accuracy(prediction,test.variety)

0.9

In [116]:
prediction=predict_classes(train, test, num_neighbors=75)
compute_accuracy(prediction,test.variety)

0.8666666666666667

In [117]:
prediction=predict_classes(train, test, num_neighbors=85)
compute_accuracy(prediction,test.variety)

0.3

WKNN

In [127]:
def get_neighbors(train, test_instance, num_neighbors):
    distances = []
    train_copy=train.copy()
    for j in range(len(train)):
        dist = euclidean_distance(test_instance, train.iloc[j,:])
        distances.append(dist)
    train_copy['distance']=distances
    train_copy['weights']=1/train_copy['distance']
    return train_copy.nsmallest(num_neighbors, ['distance'])

get_neighbors(df, A, 5)

,sepal.length,sepal.width,petal.length,petal.width,variety,distance,weights
70,5.9,3.2,4.8,1.8,1,0.000000,inf
138,6.0,3.0,4.8,1.8,2,0.223607,4.472136
127,6.1,3.0,4.9,1.8,2,0.300000,3.333333
149,5.9,3.0,5.1,1.8,2,0.360555,2.773501
85,6.0,3.4,4.5,1.6,1,0.424264,2.357023

In [119]:
def predict_classes(train, test, num_neighbors):
    prediction=[]
    for j in range(len(test)):
        neighbors = get_neighbors(train, test.iloc[j,:], num_neighbors)
        Class_Weight_Sums=[]
        for i in np.unique(neighbors.variety):
            Class_Weight_Sums.append((i,np.sum(neighbors[neighbors.variety==i].weights)))
            print(Class_Weight_Sums)
        predicted_class = max(Class_Weight_Sums, key=lambda x:x[1])[0]
        prediction.append(predicted_class)
    return np.array(prediction)

In [124]:
def Weighted_KNN(train,test,number_neighbors):
    test_y=test.variety
    predictions=predict_classes(train, test, number_neighbors)
    accuracy=compute_accuracy(predictions,test_y)
    return accuracy,predictions
Weighted_KNN(train, test, 85)

[(0, 89.3716708269923)]
[(0, 89.3716708269923), (1, 11.85986159578993)]
[(0, 89.3716708269923), (1, 11.85986159578993), (2, 1.4942217613118403)]
[(0, 82.66391488608022)]
[(0, 82.66391488608022), (1, 11.77972560016527)]
[(0, 82.66391488608022), (1, 11.77972560016527), (2, 1.488567528072474)]
[(0, 53.408420968299495)]
[(0, 53.408420968299495), (1, 12.958263870892468)]
[(0, 53.408420968299495), (1, 12.958263870892468), (2, 1.3649466724809296)]
[(0, 68.1315569424076)]
[(0, 68.1315569424076), (1, 11.774586624728403)]
[(0, 68.1315569424076), (1, 11.774586624728403), (2, 1.2448983761345853)]
[(0, 81.93475735372496)]
[(0, 81.93475735372496), (1, 11.884882891450461)]
[(0, 81.93475735372496), (1, 11.884882891450461), (2, 1.497535839547001)]
[(0, 87.0556256151596)]
[(0, 87.0556256151596), (1, 11.400757942557771)]
[(0, 87.0556256151596), (1, 11.400757942557771), (2, 1.45430747577365)]
[(0, 94.03593424182485)]
[(0, 94.03593424182485), (1, 12.121538470486252)]
[(0, 94.03593424182485), (1, 12.121538470486252), (2, 1.2783663224965025)]
[(0, 108.76216860729764)]
[(0, 108.76216860729764), (1, 11.759406459834128)]
[(0, 108.76216860729764), (1, 11.759406459834128), (2, 1.4933564320245933)]
[(0, 1.9046384628969792)]
[(0, 1.9046384628969792), (1, 40.50240320877012)]
[(0, 1.9046384628969792), (1, 40.50240320877012), (2, 29.33056137657918)]
[(0, 11.878458315189892)]
[(0, 11.878458315189892), (1, 32.01273977590359)]
[(0, 11.878458315189892), (1, 32.01273977590359), (2, 6.778640336256533)]
[(0, 3.085723412380196)]
[(0, 3.085723412380196), (1, 62.397121889108966)]
[(0, 3.085723412380196), (1, 62.397121889108966), (2, 26.234326245436637)]
[(0, 3.8192977281565144)]
[(0, 3.8192977281565144), (1, 44.19090120324353)]
[(0, 3.8192977281565144), (1, 44.19090120324353), (2, 18.294067790566604)]
[(0, 2.9077533270601963)]
[(0, 2.9077533270601963), (1, 50.19564364607798)]
[(0, 2.9077533270601963), (1, 50.19564364607798), (2, 25.828647095803017)]
[(0, 1.9570976927449062)]
[(0, 1.9570976927449062), (1, 53.978990925631365)]
[(0, 1.9570976927449062), (1, 53.978990925631365), (2, 34.797048647046324)]
[(0, 4.046376482383626)]
[(0, 4.046376482383626), (1, 65.68664106180714)]
[(0, 4.046376482383626), (1, 65.68664106180714), (2, 21.02500086145507)]
[(0, 4.718958769091752)]
[(0, 4.718958769091752), (1, 62.06125755813037)]
[(0, 4.718958769091752), (1, 62.06125755813037), (2, 18.563427213395684)]
[(0, 2.1485484246056727)]
[(0, 2.1485484246056727), (1, 69.6972270859097)]
[(0, 2.1485484246056727), (1, 69.6972270859097), (2, 35.101735832153764)]
[(0, 4.022652598317002)]
[(0, 4.022652598317002), (1, 69.75528527471977)]
[(0, 4.022652598317002), (1, 69.75528527471977), (2, 20.209891405938944)]
[(0, 3.0558322422313053)]
[(0, 3.0558322422313053), (1, 31.357862829892944)]
[(0, 3.0558322422313053), (1, 31.357862829892944), (2, 20.01603879057401)]
[(0, 1.325672693326869)]
[(0, 1.325672693326869), (1, 15.810946736933818)]
[(0, 1.325672693326869), (1, 15.810946736933818), (2, 31.27060377533998)]
[(0, 1.1365951421877156)]
[(0, 1.1365951421877156), (1, 12.393221623257794)]
[(0, 1.1365951421877156), (1, 12.393221623257794), (2, 24.01346978965333)]
[(0, 1.4699620001363696)]
[(0, 1.4699620001363696), (1, 21.633774416846066)]
[(0, 1.4699620001363696), (1, 21.633774416846066), (2, 39.45467270249749)]
[(0, 1.238536313364884)]
[(0, 1.238536313364884), (1, 13.215730071815802)]
[(0, 1.238536313364884), (1, 13.215730071815802), (2, 23.730494346892737)]
[(0, 1.5441956189064387)]
[(0, 1.5441956189064387), (1, 25.398564071749572)]
[(0, 1.5441956189064387), (1, 25.398564071749572), (2, 61.25241973579601)]
[(0, 1.652323841762447)]
[(0, 1.652323841762447), (1, 30.039817935879455)]
[(0, 1.652323841762447), (1, 30.039817935879455), (2, 37.63443229887753)]
[(0, 1.5438252817994413)]
[(0, 1.5438252817994413), (1, 22.438228702523325)]
[(0, 1.5438252817994413), (1, 22.438228702523325), (2, 46.79565325480659)]
[(0, 1.4994461299218085)]
[(0, 1.4994461299218085), (1, 22.383621152457156)]
[(0, 1.4994461299218085), (1, 22.383621152457156), (2, 56.006442414747056)]
[(0, 1.427069263155313)]
[(0, 1.427069263155313), (1, 19.928618372127666)]
[(0, 1.427069263155313), (1, 19.928618372127666), (2, 51.047985224488556)]
[(0, 1.70180513849441)]
[(0, 1.70180513849441), (1, 34.49443762465417)]
[(0, 1.70180513849441), (1, 34.49443762465417), (2, 61.11498550700227)]
[(0, 1.8467472587498042)]
[(0, 1.8467472587498042), (1, 41.042123575292905)]
[(0, 1.8467472587498042), (1, 41.042123575292905), (2, 51.25527683144283)]

(0.9666666666666667,
 array([0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2], dtype=int64))